.container {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.login>button {
    margin: 15px;
}

@media (max-width: 768px) {
    .login {
        height: 350px;
        width: 320px;
    }
}