.container {
    display: flex;
    margin: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    height: 1%;
    justify-content: center;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 420px;
    width: 310px;
    background-color: #fff;
    border-radius: 10%;
}

h1 {
    margin-top: 160px;
    align-self: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
}

.container-center-inicio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.images-slide {
    width: 190px;
    height: auto;
	margin: 10px auto 0;
	overflow: hidden;
}

.images-slide ul {
	display: flex;
	padding: 0;
	width: 300%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.images-slide li {
	width: 100%;
	list-style: none;
}

.images-slide img{
    width: 100%;
    border-radius: 15px;
}

@keyframes slide {
	0% {margin-left: 0;}
	33% {margin-left: 0;}
	
	36% {margin-left: -100%;}
	66% {margin-left: -100%;}
	
	69% {margin-left: -200%;}
	100% {margin-left: -200%;}
}